_snowboydetect.so filter=lfs diff=lfs merge=lfs -text
*.binary filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pbmm filter=lfs diff=lfs merge=lfs -text
*.arpa filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
