[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
numpy = "*"
deepspeech = {path = "./deepspeech-0.3.0a1-cp36-cp36m-macosx_10_14_x86_64.whl"}
requests = "*"
snowboy = "*"
webrtcvad = "*"
janus = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.6"
